*, *::after, *::before {
  box-sizing: border-box;
}


body {
  font-family: "Roboto", "Noto Sans TC", "Microsoft JhengHei", serif;
  line-height: 1.5;
  a {
  display: block;
  text-decoration: none;
  &:hover {
    color:orange;
    font-style: italic;
  }
}
  section {
    margin-bottom: 70px;
  }
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

header, .main, footer {
  max-width: 1200px;
  margin: 0 auto;
}