// header

.top {
  position: fixed;
  right:30px;
  bottom:50px;
  height: 45px;
  width: 45px;
  z-index: 99;
  &:hover {
    color:$hex-green;
  }
}
.mediaLink {
  background-color: $media-link-color;
  display: flex;
  justify-content: flex-end;

  & li {
    display: flex;
    align-items: center;
    
    &:first-child:after {
      content: "|";
      color: gray;
      padding: 3px 0;
      margin: 5px;
    }
    & a {
      margin-left: 4px;
      color:$black;
      &:hover {
        color: purple;
      }
    }
  }
}

.logo {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png) ;
  background-repeat: no-repeat;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 101%;
  display: block;
  height: 50px;
  width: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  & ul {
    display: flex;
    & li {
      margin-left: 20px;
      font-size: $fz-primary;
      padding: 10px 0;
    }
  }
  & a {
    color: $hex-green;
  }
}

.navOptions {
  & li:hover {
    border-bottom: 2px solid $hex-green;
  }
}

.navOptions a:hover, .navOptions a.active {
  color: orange;
}

.dropDown {
  position:absolute;
  display: flex;
  flex-direction:column;
  align-items:flex-start;
  background-color: rgba(18, 88, 73, 0.781);
  padding-right: 15px;
  border-radius: 20%;
}

.navOptions ul {
  display: none;
}

// footer
footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .logo{
    width: 170px;
    height: 36px;
    background: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png);
  }
  & .footerContact {
    margin-left: 4px;
    & a {
      display: inline;
      color:red;
  }
}
}