
// colors
$hex-green: #06cd9b;
$gray: #f9f6f9;
$black:black;
$media-link-color: #f4f4f4;
$border-color: #f5f6fa;
$box-shadow: #718093;



// font-size

$fz-primary:20px;
$fz-secondary:32px;


// table color

.color-green {
  color: $hex-green;
}

.bg-grey{
  background-color: $gray;
}